@keyframes slider {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes moveup {
  0% {
    position: relative;
    top: 0;
  }
  100% {
    position: relative;
    top: -35vh;
  }
}
@keyframes flash {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color : #333333;
  background-color: #F5F5F5;
  text-align: center;
  min-height: 100vh;
}
div {
  background-color: skyblue;
  position: relative;
}
h1 {
    display: inline-block;
}
#books {
  background-color: #f5f5f5;
  color: #333333;
  display: inline-block;
}
#zero {
  overflow: hidden; 
}
#btn {
  background-color: #f9f9f9;
  border: none;
  color: #333333;
}
#btn:focus {
  background-color: #333333;
  border: none;
  color: #f9f9f9;
}
#undo {
  display: none;
  background-color: #f9f9f9;
  border: none;
  color: #333333;
}
.hid {
  animation: 5s slider both paused;
  overflow: hidden;
  height: auto;
}
#second {
  display: none;
  position: fixed;
  z-index: 1;
  top: 10%;
  left: 15%;
  overflow: hidden;
  background-color: #f9f9f9;
  color: #333333;
  width: 70%;
  height: 0;
  border-radius: 5px;
  transition: all 3s;
}
#foot {
  background-color: skyblue;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}
#third {
  animation: moveup 5s 1 normal forwards paused;
}
#foot {
  animation: flash 10s infinite alternate forwards running;
}
a {
  color: #333333;
}
@media screen and (min-width: 768px) {
  #placer {
    display: block;
    height: 3ex;
  }
  #main {
    margin: auto;
    width: 66%;
  }
}
