@keyframes slider {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  100% {
    transform: scaleY(0) rotate(180deg);
  }
}

@keyframes moveup {
  0% {
    position: relative;
    top: 0;
  }
  100% {
    position: relative;
    top: -45vh;
  }
}
@keyframes flash {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color : #333333;
  background-color: #F5F5F5;
  text-align: center;
  min-height: 100vh;
}
#translate {
  position: fixed;
  right: 0;
  top: 0;
  border: 1vh solid skyblue;
  width: auto;
  height: auto;
  aspect-ratio: 1 / 1;
  background-color: #f5f5f5;
  color: #333333;
  z-index: 1;
  cursor: pointer;
}
div {
  background-color: skyblue;
  position: relative;
}
h1 {
    display: inline-block;
    position: relative;
    z-index: 1;
}
#books {
  background-color: #f5f5f5;
  color: #333333;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
#zero {
  overflow: hidden;
  border-bottom: 1vh solid skyblue;  
}
#btn {
  background-color: #f9f9f9;
  border: none;
  color: #333333;
  cursor: pointer;
}
#btn:focus {
  background-color: #333333;
  border: none;
  color: #f9f9f9;
  cursor: pointer;
}
#undo {
  display: none;
  background-color: skyblue;
  border: none;
  color: #333333;
  z-index: 1;
}
.hid {
  animation: 5s slider both paused;
  overflow: hidden;
  height: auto;
}
#first {
  border: 1vw solid skyblue;
}
#second {
  display: none;
  position: fixed;
  z-index: 1;
  top: 10%;
  left: 15%;
  overflow: hidden;
  background-color: #f9f9f9;
  color: #333333;
  width: 70%;
  height: 0;
  border-radius: 5px;
  transition: all 3s;
  border: 1vw solid skyblue;
  overflow: auto;
}
#p2urdu {
  display: none;
}
#foot {
  background-color: skyblue;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}
#third {
  animation: moveup 5s 1 normal forwards paused;
  background-color: #F5F5F5;
}
#fourth, #main2, #main {
  background-color: #F5F5F5;
}
#foot {
  animation: flash 10s infinite alternate forwards running;
  background-color: skyblue;
}
#footur {
  display: none;
}
a {
  color: #333333;
}
@media screen and (min-width: 768px) {
  #placer {
    display: block;
    height: 3ex;
  }
  #main {
    margin: auto;
    width: 66%;
  }
}
