/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
   h1 {font-size: 4vw;}
   #first {font-size: 1%;}
   #second {font-size: 1%;}
   #fourth {font-size: 1%;}
}
/* Inbetweener */
@media screen and (min-width: 601px) and (max-width: 991px) {
   h1 {font-size: 4.5vw;}
   #first {font-size: 100%;}
   #second {font-size: 100%;}
   #fourth {font-size: 100%;}
}
/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) and {
   h1 {font-size: 5vw;}
   #first {font-size: 5%;}
   #second {font-size: 5%;}
   #fourth {font-size: 5%;}
}
@keyframes up {
    from {transform: translateY(0);}
    to {transform: translateY(20vh);}
}
@keyframes roll {
    from { top: 0;}
    to {
        max-height: 2ex;
        position: relative;
        top: -20vh;
    }
}
@keyframes flash {
    from {opacity: 1; }
    to {opacity: 0; }
}
* {
    /* box-sizing: border-box; */
    padding: 0;
    max-height: 100%;
    overflow: hidden;
}
html, body {
    /* All the Elements Must be Aligned in the Middle */    
    text-align: center; /* Successful */
    padding: 0;
    margin: 0;
    height: 100%;
}
h1 {
    /* The Title: Judge By Yourself */
    background-color: #0f5742;
    color: white;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    /* Make it into a Strip */
    display: block;
    width: 100%;
}
#main {
    /* It Will Be Transparent */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hid {
    /* The Coloring of both the Upper Divisions */
    background-color: #0f5742;
    color: white;
    /* Both the Divisions Must be Horizontally Aligned */
    /* Both the Divisions Must Silde Up And Down */
    animation-name: roll;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-play-state: paused;
}
#btn {
    background-color: #0f5742;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    font-size: 1vh;
    width: 15%;
    height: 10%;
    margin-bottom: 1vh;
}
#first {
    width: 64%;
    border-radius: 10px;
}
#second {
    width: 32%;
    border-radius: 10px;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
#main2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#third {
    border-radius: 10px;
    background-color: #0f5742;
    visibility: hidden;
    animation-name: up;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-play-state: paused;
}
#fourth {
    text-align: center;
}
#foot {
    width: 80vw;
    height: 100%;
    text-align: center;
    background-color: #0f5742;
    color: white;
    margin: auto;
}
